body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
}
main{
    display: grid;
    grid-template-columns: 50% 50%;
    height: fit-content;
}
main div{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
}
main div iframe{
    height: 400px;
    width: 100%;
    border: none;
    margin: 0;
    padding: 0;
}
main h2{
    font-size: 16px;
    margin: 5px;
}
header{
    margin: 10px;
}