/* Base CSS */
body{
	box-sizing: border-box;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body, main{
	margin: 0;
	width: 100vw;
	height: 100vh;
	z-index: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
}

/* GUI elements */

.nav-main-elements{
	display: grid;
	grid-template-columns: min-content auto;
	width: 100%;
	overflow: hidden;
}

nav {
	display: block;
	position: absolute;
	top:0px;
	left:20px;
	z-index: 1;
	background-color: #00000050;
	color:#ffffff;
	overflow: hidden;
	border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

nav input,
nav select{
	margin: 10px;
}

nav select{
	border-radius: 3px;
}

nav label{
	margin: 10px;
	white-space: nowrap;
}

#gui_enable{
	display:none;
}

#gui_enable_label{
	width: 100%;
    display: block;
    text-align: center;
    margin: 0px;
	padding-bottom: 10px;
	padding-top:10px;
	font-size: 0.75em;
}

#gui_enable_label:hover{
	text-decoration: underline;
	cursor: pointer;
}

/* Loading notes */

.loading-notes{
	position:absolute;
	bottom: 0px;
	left: 20px;
	color: white;
	pointer-events:none;
	user-select:none;
	font-family: monospace;
	background-color: #00000050;
	border-top-right-radius: 10px;
    border-top-left-radius: 10px;
	padding: 10px;
}

.loading-notes:empty{
	display: none;
}

/* Watermark */

.watermark{
	position: absolute;
	bottom: 10px;
	right: 10px;
	color:#ffffff60;
	text-decoration: none;
}

.watermark-off{
	display: none;
}

.watermark-small{
	display: block;
	font-size: large;
}

.watermark-large{
	display:block;
	font-size: x-large;
}
