body{
	box-sizing: border-box;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body, main{
	margin: 0;
	width: 100vw;
	height: 100vh;
	z-index: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
}

nav {
	position: absolute;
	top:0px;
	left:20px;
	z-index: 1;
	display: grid;
	grid-template-columns: min-content auto;
	background-color: #00000050;
	color:#ffffff;

	border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

nav input,
nav select{
	margin: 10px;
}

nav select{
	border-radius: 3px;
}

nav label{
	margin: 10px;
	white-space: nowrap;
}

.watermark{
	position: absolute;
	bottom: 10px;
	right: 10px;
	color:#ffffff60;
	text-decoration: none;
}

.watermark-off{
	display: none;
}

.watermark-small{
	display: block;
	font-size: large;
}

.watermark-large{
	display:block;
	font-size: x-large;
}
